$sidebarWidth: 250px;
$sidebarColor: #fff;
$sidebarBorderColor: color("blue", "lighten-1");

$chatBoxHeight: 400;
$chatBoxHeaderColor: color("light-blue", "darken-4");
$chatBoxHeaderHeight: 30;
$chatBoxFooterHeight: 40;
$chatBoxOptionsHeight: 40;

$chatBoxBodyBgColor: color('grey','lighten-5');

$messageInBgColor: #c2e8e2;
$messageOutBgColor: #fafafa;
$chatBoxWidth: 300;






$colorDefault: #1e2730;
$colorDefaultLight: #394756;
$colorDefaultText: #a1b2c2;


$colorRed: #C75B5B;
$colorRedLight: #CC8080;
$colorRedText: #F6F0F0;


$colorGreen: #2BAE8E;
$colorGreenLight: #33c19e;
$colorGreenText: #F5F8F7;

$colorBrown: #B67C4C;
$colorBrownLight: #c89a75;
$colorBrownText: #F5F8F7;
