
@import "variables";
@import "mixin_main";

.color-theme {
    position: fixed;
    top: 30px;
    padding: 5px 5px 5px 10px;
    @include rounded(0,5,0,5);
    background-color: #D1D5D4;
    width: 100px;



    .theme {

        ul {
            li {
                cursor: pointer;
                float: left;
                height: 30px;
                width: 30px;
                margin: 5px;
                @include roundedCornersPercent(50);
            }
        }

        .default {
            background-color: $colorDefault;
        }

        .red {
            background-color: $colorRed;
        }

        .brown {
            background-color: $colorBrown;
        }

        .green {
            background-color: $colorGreen;
        }
    }
}
