<div class="container-fluid">
<div class="row">
  <div class="col-md-3 col-lg-3 col-sm-3">
    <div class="panel panel-info">
      <h5 class="text-center">Group Chats</h5>
      <div class="list-group">
      <a data-id="1" data-team="The Executives" href="#" class="list-group-item mitem">
        The Executives
      </a>
      <a data-id="2" data-team="Library Team" href="#" class="list-group-item mitem list-group-item-action">Library Team</a>
      <a data-id="3" data-team="Portfolio Team" href="#" class="list-group-item mitem list-group-item-action">Portfolio Team</a>
      <a data-id="4" data-team="Publisher Team" href="#" class="list-group-item mitem list-group-item-action">Publisher Team</a>
      <a data-id="5" data-team="Software Engrs" href="#" class="list-group-item mitem list-group-item-action">Software Engrs</a>
      <a data-id="6" data-team="Marketing Guys" href="#" class="list-group-item mitem list-group-item-action">Marketing Guys</a>
      <a data-id="7" data-team="PR Peeps" href="#" class="list-group-item mitem list-group-item-action">PR Peeps</a>
    </div>
    </div>
    </div>
    <div class="col-md-9 col-lg-9 col-sm-9" id="chatBoxLoad">
      <p class="lead text-center">
    Click on a group to see the details</p></div>
  </div>
</div>
