<div class='row' >
<div class='col-md-9 col-lg-9 col-sm-9'>
<h3 class='lead text-center'><%= @team %></h3><hr>
<div class='chatPanel'>
  <p class='lead text-center'>Previous Chats Will be Displayed Here</p>
</div>
<input type='text' placeholder='Write a message' class='form-control' id='msgInput'>
</div>
<div class='col-md-3 col-lg-3 col-sm-3'>
<div class='panel panel-info'>
<h5 class='text-center'>Participants</h5>
<div class='list-group'>
<a data-id='1' href='#' class='list-group-item'>Ogiriki Mabel</a>
<a data-id='2' href='#' class='list-group-item list-group-item-action'>Iguniwei Adaka</a>
<a data-id='3' href='#' class='list-group-item list-group-item-action'>Pere Perewari</a>
<a data-id='4' href='#' class='list-group-item list-group-item-action'>Oyedele Segunfunmi</a>
<a data-id='5' href='#' class='list-group-item list-group-item-action'>Nyingifa Donald</a>
<a data-id='6' href='#' class='list-group-item list-group-item-action'>Igbiriki Richard</a><a data-id='7' href='#' class='list-group-item list-group-item-action'>PR Peeps</a></div>
</div>
</div>
</div>
