/*theme start*/
#mmc-chat.color-default .box .box-header {
  background-color: #394756 !important;
}

#mmc-chat.color-default .box .box-header .box-username a {
  color: #a1b2c2 !important;
}

#mmc-chat.color-default .box .box-body {
  /*border-bottom: 2px solid $colorDefaultBgColor ;*/
  border-right: 2px solid #1e2730;
  border-left: 2px solid #1e2730;
  background-color: #fafafa;
}

#mmc-chat.color-default .box .box-footer {
  border-right: 2px solid #1e2730;
  border-left: 2px solid #1e2730;
}

#mmc-chat.color-default .minimized,
#mmc-chat.color-default .box.active .box-header {
  background-color: #1e2730 !important;
}

#mmc-chat.color-default .minimized li:hover {
  background-color: #394756;
}

#mmc-chat.color-default #sidebar {
  background-color: #1e2730 !important;
  color: #a1b2c2 !important;
}

#mmc-chat.color-default #sidebar .sidebar-collapse,
#mmc-chat.color-default #sidebar .searchbar-closed {
  color: #37434e !important;
}

#mmc-chat.color-default #sidebar .search input,
#mmc-chat.color-default #sidebar .search label {
  color: #586a7b !important;
}

#mmc-chat.color-default #sidebar .user-list li:hover {
  background-color: #2E3844;
}

#mmc-chat.color-red .box .box-header {
  background-color: #CC8080 !important;
}

#mmc-chat.color-red .box .box-header .box-username a {
  color: #F6F0F0 !important;
}

#mmc-chat.color-red .box .box-header .tools .collapse {
  background: url("../img/minimize-white.png") no-repeat !important;
}

#mmc-chat.color-red .box .box-header .tools .maximize {
  background: url("../img/maximize-white.png") no-repeat !important;
}

#mmc-chat.color-red .box .box-header .tools .close {
  background: url("../img/close-white.png") no-repeat !important;
}

#mmc-chat.color-red .box .box-body {
  /*border-bottom: 2px solid $colorDefaultBgColor ;*/
  border-right: 2px solid #C75B5B;
  border-left: 2px solid #C75B5B;
}

#mmc-chat.color-red .box .box-footer {
  border-right: 2px solid #C75B5B;
  border-left: 2px solid #C75B5B;
}

#mmc-chat.color-red .minimized,
#mmc-chat.color-red .box.active .box-header {
  background-color: #C75B5B !important;
}

#mmc-chat.color-red .minimized li:hover {
  background-color: #CC8080;
}

#mmc-chat.color-red #sidebar {
  background-color: #C75B5B !important;
  color: #F6F0F0 !important;
}

#mmc-chat.color-red #sidebar .sidebar-collapse,
#mmc-chat.color-red #sidebar .searchbar-closed {
  color: #F6F0F0 !important;
}

#mmc-chat.color-red #sidebar .search input,
#mmc-chat.color-red #sidebar .search label {
  color: #F6F0F0 !important;
}

#mmc-chat.color-red #sidebar .user-list li:hover {
  background-color: #CC8080;
}

#mmc-chat.color-green .box .box-header {
  background-color: #33c19e !important;
}

#mmc-chat.color-green .box .box-header .box-username a {
  color: #F5F8F7 !important;
}

#mmc-chat.color-green .box .box-header .tools .collapse {
  background: url("../img/minimize-white.png") no-repeat !important;
}

#mmc-chat.color-green .box .box-header .tools .maximize {
  background: url("../img/maximize-white.png") no-repeat !important;
}

#mmc-chat.color-green .box .box-header .tools .close {
  background: url("../img/close-white.png") no-repeat !important;
}

#mmc-chat.color-green .box .box-body {
  /*border-bottom: 2px solid $colorDefaultBgColor ;*/
  border-right: 2px solid #2BAE8E;
  border-left: 2px solid #2BAE8E;
}

#mmc-chat.color-green .box .box-footer {
  border-right: 2px solid #2BAE8E;
  border-left: 2px solid #2BAE8E;
}

#mmc-chat.color-green .minimized,
#mmc-chat.color-green .box.active .box-header {
  background-color: #2BAE8E !important;
}

#mmc-chat.color-green .minimized li:hover {
  background-color: #33c19e;
}

#mmc-chat.color-green #sidebar {
  background-color: #2BAE8E !important;
  color: #F5F8F7 !important;
}

#mmc-chat.color-green #sidebar .sidebar-collapse,
#mmc-chat.color-green #sidebar .searchbar-closed {
  color: #F5F8F7 !important;
}

#mmc-chat.color-green #sidebar .search input,
#mmc-chat.color-green #sidebar .search label {
  color: #F5F8F7 !important;
}

#mmc-chat.color-green #sidebar .user-list li:hover {
  background-color: #33c19e;
}

#mmc-chat.color-brown .box .box-header {
  background-color: #c89a75 !important;
}

#mmc-chat.color-brown .box .box-header .box-username a {
  color: #F5F8F7 !important;
}

#mmc-chat.color-brown .box .box-header .tools .collapse {
  background: url("../img/minimize-white.png") no-repeat !important;
}

#mmc-chat.color-brown .box .box-header .tools .maximize {
  background: url("../img/maximize-white.png") no-repeat !important;
}

#mmc-chat.color-brown .box .box-header .tools .close {
  background: url("../img/close-white.png") no-repeat !important;
}

#mmc-chat.color-brown .box .box-body {
  /*border-bottom: 2px solid $colorDefaultBgColor ;*/
  border-right: 2px solid #B67C4C;
  border-left: 2px solid #B67C4C;
}

#mmc-chat.color-brown .box .box-footer {
  border-right: 2px solid #B67C4C;
  border-left: 2px solid #B67C4C;
}

#mmc-chat.color-brown .minimized,
#mmc-chat.color-brown .box.active .box-header {
  background-color: #B67C4C !important;
}

#mmc-chat.color-brown .minimized li:hover {
  background-color: #c89a75;
}

#mmc-chat.color-brown #sidebar {
  background-color: #B67C4C !important;
  color: #F5F8F7 !important;
}

#mmc-chat.color-brown #sidebar .sidebar-collapse,
#mmc-chat.color-brown #sidebar .searchbar-closed {
  color: #F5F8F7 !important;
}

#mmc-chat.color-brown #sidebar .search input,
#mmc-chat.color-brown #sidebar .search label {
  color: #F5F8F7 !important;
}

#mmc-chat.color-brown #sidebar .user-list li:hover {
  background-color: #c89a75;
}

/*theme end*/

/*# sourceMappingURL=mmc-theme.css.map */