
#content button {
  cursor: pointer;
}

.text-center {
  text-align: center;
}
.demo-headline {
  text-align: left;
  padding: 40px 0 0;
}
.tile {
  min-height: 330px;
}
#credits {
  margin-top: 100px;
}
