

#container2 {
	width: 340px;
	margin: auto;
}



.input {
	width: 300px;
}

label{
	display: block;
}

#tabs {
	overflow: hidden;
	margin: 0; padding: 0;
}

#tabs li{
	display: inline;
	float: left;
	background: #3a6f9f;
	margin-right: 5px;
	padding: 3px 5px;
	-moz-border-radius: 1px;
	border: 1px solid #ffffff;
}

#tabs li:hover {
	background: #4381bb;
}

#container #tabs li.selected {
	background: orange repeat-x;
	border: 1px solid white;
	border-bottom: none;
	position: relative;
	top: 1px;
	z-index: 2;
}

#tabs li.selected a{
	color: #292929;
}

#tabs li a {
	color: #292929;
	text-decoration: none;
	outline: none;
	font-size: 11px;
	line-height: 11px;
	padding: 7px 10px;
	display: block;
}

#main {
	background: #A9BCF5;
	border: 1px solid #f0f2f5;
	position: relative;
	top: -2px;
	padding: 0 15px;
	
}

#main h4 {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	background-color: #58ACFA;
	padding-top: .3em;
	padding-bottom: .3em;
	color: #000000;
}
div.item {
	background: #CED8F6;
	border: 1px solid #f0f2f5;
	margin: 1em 0;
	position: relative;
}

div.item a {
	background: #3a6f9f;
	border: 1px solid white;
	border-top: none;
	border-right: none;
	color: #ffffff;
	font-size: 15px;
	padding: 2px;
	border-left:50px;
	position:relative;
}

div.item a:hover {
	background:#58ACFA;
}

#container #main div.options {
	position: absolute;
	top: 0; right: 0;
	overflow: hidden;
}

#addNewEntry h2 {
	padding: 0;
}

.saveEntry{
	visibility:hidden;
}

