
RewriteEngine on
RewriteCond %{HTTP_HOST} ^afri\-dash\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.afri\-dash\.com$
RewriteRule ^/?$ "http\:\/\/www\.afridash\.com\/" [R=302,L]
#Remove file extension
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php [L,QSA]

